/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




@media only screen and (max-width: 1200px) {
	.container{
		width: 100%;
	}

	.objects_wrap{
		margin: 0 -1% -13px;
	}

	.objects_item{
		width: 23%;
	    margin: 0 1% 28px;
	}
}

@media only screen and (max-width: 1100px) {
	.objects_item{
		width: 31.3%;
	}
}

@media only screen and (max-width: 990px) {
	.header_select{
        width: 250px;
        margin-left: 20px;
        margin-top: 25px;
    }    
}

@media only screen and (max-width: 767px) {
	.header_select{
        width: 250px;
        margin-left: 20px;
        margin-top: 12px;
    } 

	.objects_item{
		width: 48%;
	}

	.categories_wrap .title{
		position: static;
	}

	.categories_list {
		text-align: left;
	}

	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo a{
		font-size: 24px;
		line-height: 55px;
	}

	.menu_link{
		font-size: 16px;
		line-height: 55px;
	}

	.map_box{
		top: 55px;
	}

	[data-event]::before{
		top: 4px;
	}

	.event .menu_link{
		margin: 0 15px;
	}

	.user .menu_link{
		padding: 0 35px 0 64px;
	}

	.event_sub_menu{
		right: 14px;
	}

	.user .menu_link::before{
		left: 23px;
	}

	.user_sub_menu li a{
		padding: 14px 14px 14px;
	}
		
}

@media only screen and (max-width: 550px) {
	.objects_wrap{
		margin: 0 0 -13px;
	}

	.objects_item{
		width: 100%;
		float: none;
		margin: 0 0 28px;
	}

	.objects_item.new_object{
		min-height: 259px;
	}

	.objects_item.new_object::before{
		right: 3px;
	}

	[class*="icon_"]{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	.button_icon {
		left: 30px;
	}

	.button_icon{
		margin: 0 -5px;
	}

	.button_icon > div{
		margin: 0 5px;
	}

	.admin_menu{
		left: -5px;
	}

	.tooltip_content,
	.tooltip_top .tooltip_content{
		left: -15px;
	}

	.groups_drop::before,
    .download_drop::before,
    .calendar_drop::before,
    .chat_drop::before{
    	left: 5px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 479px) {
	.top_left_icon{
		left: 80px;
		top: 70px;
	}

	.profile_wrapper{
	    margin: 0;
	}

	.profile_user,
	.profile_form{
        width: 100%;
        margin: 0;
    }
    .profile_user{
		margin-bottom: 20px;
	}
		
}

@media only screen and (max-width: 430px) {
	.messages_admin .messages, 
	.messages_user .messages{
		width: 100%;
	}

	.arcticmodal_container_box,
	.add_to_archive.arcticmodal_container_box{
		min-width: 280px;
		padding: 20px 15px;
	}

	.add_to_archive .btn_login,
	.add_to_archive .btn_back{
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.header_select{
        width: 150px;
    }
		
}


@media only screen and (max-width: 370px) {
	.container{
		padding-left: 10px;
		padding-right: 10px;
	}
	.user .menu_link{
		text-indent: -9999px;
	}

	.event .menu_link{
		margin: 0 10px;
	}

	.user .menu_link{
		padding: 0 40px 0 69px;
	}

	.user_sub_menu li a{
	    padding: 10px 08px 10px;
	    font-size: 14px;
	}

	.user_sub_menu li a span{
		margin-right: 8px;
	}

	.event_sub_menu{
		right: 0;
		min-width: 185px;
	}

	.event_sub_menu li .scroll li{
		padding: 8px 8px 7px 25px;
	}

	[data-icon]::before{
		left: 5px;
	}

	.event_sub_menu{
		right: 10px;
	}

	.event_sub_menu .event_sub_menu_item{
		padding-left: 5px;
	}

	.look_link {
		padding-right: 5px;
	}

	ul.scroll{
		max-width: 185px;
	    margin: 10px 0 0 -5px;
	}

	.event_sub_menu li{
		padding-right: 0;
	}

	.chat_drop{
		width: 270px;
	}
		
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================