/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/jquery-ui.css";
        @import "../css/indent.min.css";
        @import "../css/plugins.css";
        @import "../css/animate.min.css";
        @import "../css/select2.css";
        @import "../css/swiper.css";
        @import "../css/jquery-ui.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%}

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        line-height:inherit;
        color: #252525;
        min-width:320px;
        -webkit-text-size-adjust: none;
        background: #e8ecf0;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 8px;
            }
            
            .title{
                font-size: 18px;
                line-height: 25px;
                color:#5c646d;
                font-weight: 300;
            }

            .title2{
                font-size: 16px;
                line-height: 1.2;
                color:#5c646d;
                font-weight: 300;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .roboto_thn,
            .roboto_lt,
            .roboto_reg,
            .roboto_med,
            .roboto_bd,
            .roboto_ultra_bd{
                font-family: 'Roboto', sans-serif;
            }
            .roboto_thn{font-weight: 100;}
            .roboto_lt{font-weight: 300;}
            .roboto_reg{font-weight: 400;}
            .roboto_med{font-weight: 500;}
            .roboto_bd{font-weight: 700;}
            .roboto_ultra_bd{font-weight: 900;}


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;
                
            }
            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                transition: all 0.5s ease;
                font-family: 'Roboto', sans-serif;
                color: #252525;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }
            textarea::-moz-placeholder{
                transition: all 0.5s ease;
                font-family: 'Roboto', sans-serif;
                color: #252525;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }
            textarea:-moz-placeholder{
                transition: all 0.5s ease;
                font-family: 'Roboto', sans-serif;
                color: #252525;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }
            textarea:-ms-input-placeholder{
                transition: all 0.5s ease;
                font-family: 'Roboto', sans-serif;
                color: #252525;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        background: #fff;
        box-shadow: 0 1px 10px #cdd0d4;
        /*padding: 25px 0;*/
        position: relative;
        z-index: 9;
    }
        .logo{
            display: inline-block; 
        }
            .logo a{
                display:block;
                text-decoration:none;
                font-size: 30px;
                line-height: 79px;
                color: #5c646d;
            }

        .header_select{
            display: inline-block;
            width: 400px;
            margin-left: 20px;
            margin-top: 25px;
        }    

        .header_select .select2-dropdown-open .select2-choice{
            background: #fff;
        }

        .traffic_jams{
            display: inline-block;
            margin-left: 20px;
            font-size: 16px;
            margin-top: 25px;
            box-shadow: 0 1px 10px #cdd0d4;
            background: #fff;
            border-radius: 15px;
            line-height: 34px;
            padding: 0 15px 0 34px;
            position: relative;
            cursor: pointer;
        }

            .traffic_jams::before{
                content: "";
                background: url(../images/pencil.png) 0 0 no-repeat;
                width: 18px;
                height: 18px;
                background-size: 100%;
                position: absolute;
                left: 8px;
                top: 50%;
                margin-top: -8px;
            }

        .menu_item{
            float: left;
            position: relative;
        }     

        .menu_link{
            font-size: 18px;
            line-height: 79px;
            position: relative;
        }

        .event .menu_link img{
            vertical-align: middle;
        }

        .event .menu_link{
            padding: 0 10px;
            margin: 0 40px;
        }

        .user .menu_link{
            padding: 0 44px 0 76px;
        }

        .user .menu_link::before{
            content: "";
            background: url(../images/avatar_icon.png) 0 0 no-repeat;
            width: 29px;
            height: 35px;
            position: absolute;
            left: 33px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .user .menu_link::after{
            content: "";
            background: url(../images/menu_arrow.png) 0 0 no-repeat;
            width: 20px;
            height: 11px;
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .user_sub_menu::before{
            content: "";
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
            position: absolute;
            bottom: 100%;
            right: 12px;
        }

        .menu_item.user:hover .menu_link,
        .show_user .menu_item.user .menu_link{
            background: #eaedf2;
        }

        .menu_link[data-event]::before{
            content: attr(data-event);
            width: 25px;
            height: 25px;
            line-height: 25px;
            background: #63a7d2;
            border-radius: 50%;
            font-size: 16px;
            color: #fff;
            font-weight: 300;
            text-align: center;
            position: absolute;
            right: 4px;
            top: 13px;
        }

        .open_menu[data-event]::before{
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 0px;
            right: 0px;
            background: #63a7d2;
            width: 15px;
            height: 15px;
        }

        .event_sub_menu,
        .user_sub_menu{
            box-shadow: 1px 1px 10px #cdd0d4, -1px -1px 10px #cdd0d4;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.7s ease;
            -moz-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }

        .event_sub_menu #ascrail2000{
            padding-right: 0;
        }

        .show_event .event_sub_menu,
        .show_user .user_sub_menu{
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
        }

        .event_sub_menu{
            position: absolute;
            right: 39px;
            top: 95%;
            border: 1px solid #eef1f5;
            min-width: 210px;
            background: #fff;
            max-height: 176px;
        }

            .event_sub_menu li{
                line-height: 1.2;
                padding: 8px 12px 7px 11px;
                font-size: 10px;
            }

            .event_sub_menu li .scroll li{
                line-height: 1.2;
                padding: 8px 11px 7px 40px;
                font-size: 10px;
                position: relative;
                border-bottom: 1px solid #eef1f5;
            }

                .event_sub_menu span{
                    line-height: 1.3;
                }

            .event_sub_menu .event_sub_menu_item{
                padding-left: 13px;
                padding-bottom: 0;
                background: #eaedf2;
            }

            .event_sub_menu .event_sub_menu_item::before{
                content: "";
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #eaedf2;
                position: absolute;
                bottom: 100%;
                right: 19px;
            }

            .event_sub_menu li .look_link{
                text-decoration: underline;
            }

            .event_sub_menu li .time{
                float: right;
            }

            [data-icon]{
                position: relative;
            }

            [data-icon]::before{
                content: "";
                width: 13px;
                height: 14px;
                position: absolute;
                left: 13px;
            }

            [data-icon="plus"]::before{
                background: url(../images/icon_plus.png) 50% 0 no-repeat;
            }

            [data-icon="message"]::before{
                background: url(../images/icon_message.png) 50% 0 no-repeat;
            }

            [data-icon="mark"]::before{
                background: url(../images/icon_mark.png) 50% 0 no-repeat;
            }

            [data-icon="update"]::before{
                background: url(../images/icon_update.png) 50% 0 no-repeat;
            }

            [data-icon="warning"]::before{
                background: url(../images/icon_warning.png) 50% 0 no-repeat;
            }

        .user_sub_menu{
            width: 100%;
            border: 1px solid #eadfdf;
            background: #ffffff;
            position: absolute;
            top: 95%;
        }

            .user_sub_menu li a{
                font-size: 16px;
                color: #5c646d;
                padding: 14px 18px 14px;
                width: 100%;
                position: relative;
            }

            .user_sub_menu li a span{
                width: 20px;
                text-align: center;
                margin-right: 12px;
            }

            .user_sub_menu li a:hover{
                background: #eaedf2;
            }

            .user_sub_menu li:first-child a::before{
                content: "";
                opacity: 0;
                visibility: hidden;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #eaedf2;
                position: absolute;
                bottom: 100%;
                right: 13px;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }

            .user_sub_menu li:first-child:hover a::before{
                opacity: 1;
                visibility: visible;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all 0.1s ease;
            }

            .user_sub_menu li:hover a::before{
                content: "";
                opacity: 1;
                visibility: visible;
            }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
    
    .contant_container{
        padding: 10px 0;
        background: #e8ecf0;
    }


    /*======================>  HOME PAGE START  <======================*/

        .categories_wrap{
            position: relative;
        }

            .categories_wrap .title{
                position: absolute;
                left: 0;
                top: 0;
            }

        .categories_list{
            margin-bottom: 14px;
        }

            .categories_list li{
                display: inline-block;
                position: relative;
            }

            .categories_list li:first-child::before{
                display: none;
            }

            .categories_list li::before{
                content: "";
                display: inline-block;
                background: url(../images/slash_icon.png) 0 0 no-repeat;
                width: 14px;
                height: 24px;
                margin-right: 4px;
            }

            .categories_list li a{
                font-size: 12px;
                line-height: 26px;
                color: #5c646d;
                font-weight: bold;
                text-transform: uppercase;
            }

            .categories_list li a:hover,
            .categories_list li.active a{
                color: #2c87c1;
            }

        .objects_wrap{
            margin: 0 -14px -13px;
        }

            .objects_item img{
                width: 100%;
                height: auto;
            }

            .objects_item.new_object{
                background: #fff;   
                border: 2px dashed #2c87c1;
                display: table;
                table-layout: fixed;
                position: relative;
                cursor: pointer;
            }

                .objects_item.new_object:hover{
                    background: #eaedf2;
                }

                .objects_item.new_object img{
                    width: auto;
                }

                .new_object_content{
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle; 
                    text-align: center;
                    position: relative;
                    z-index: 2;
                }

                    .new_object_content p{
                        color: #2c87c1;
                        font-size: 14px;
                        line-height: 24px;
                        text-transform: uppercase;
                        margin-bottom: 0;  
                    }

                    .new_object_content img{
                        margin-bottom: 10px;
                    }

            .objects_item{
                position: relative;
                width: 263px;
                box-shadow: 1px 1px 10px #cdd0d4, -1px -1px 10px #cdd0d4;
                float: left;
                margin: 0 14px 28px;
                background: #fff;
            } 

            .groups_list  {
                line-height: 1.2;
            } 

            .groups_list li{
                position: relative;
                margin-bottom: 5px;
            }

                .objects_item:hover .close,
                .calendar_list_item:hover .close,
                .groups_list li:hover .close,
                .download_drop ul li:hover .close{
                    opacity: 1 !important;
                    visibility: visible !important;
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    width: 10px;
                    height: 10px;
                }

                .calendar_list_item .close,
                .groups_list li .close,
                .download_drop ul li .close{
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    width: 10px;
                    height: 10px;
                    opacity: 0 !important;
                    visibility: hidden !important;
                    right: 0;
                    top: 50%;
                    margin-top: -5px;
                    display: inline-block;
                    margin-left: 2px;
                }

                .add_btn{
                    margin-bottom: 10px;
                }

                .map_box .close{
                    z-index: 15;
                    opacity: 1;
                    visibility: visible;
                    right: 5px;
                }

                .close{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    background: url(../images/closse_icon.png) 0 0 no-repeat;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }

                    .close:hover{
                        background: url(../images/closse_icon_hover.png) 0 0 no-repeat;
                        -webkit-transition: all 0.1s ease;
                        -moz-transition: all 0.1s ease;
                        -o-transition: all 0.1s ease;
                        transition: all 0.1s ease;
                    }

                .objects_item_content{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(255, 255, 255, .85);
                    padding: 13px 0 8px;
                }

                    .objects_item_content_top{
                        padding: 0 20px;
                    }

                    .objects_item_content_top p{
                        font-weight: 300;
                        margin-bottom: 12px;
                    }

                        .objects_item_content_bott{
                            padding: 12px 20px 0;
                            border-top: 1px solid #eef1f5;                    
                        } 

                        .counter_map{
                            font-size: 16px;
                            line-height: 18px; 
                            font-weight: 300;
                        }

                        .up_date{
                            font-size: 11px;
                            line-height: 24px;
                            font-weight: 300;
                            color: #42b0f6;
                            position: relative;
                            display: inline-block;
                            padding-right: 26px;
                        }

                            .up_date::before{
                                content: "";
                                background: url(../images/update_icon.png) 0 0 no-repeat;
                                width: 19px;
                                height: 20px;
                                position: absolute;
                                right: 0;
                            }

                        .tooltip,
                        .tooltip_top{
                            position: relative;
                            cursor: pointer;                                                        
                        }    

                            .tooltip_content,
                            .tooltip_top .tooltip_content{
                                opacity: 0;
                                visibility: hidden;
                                position: absolute;
                                left: -10px;
                                top: 103%;
                                background: #fff;
                                border: 1px solid #eef1f5;
                                padding: 5px 20px;
                                font-size: 10px;
                                font-weight: 300;
                                min-width: 145px;   
                                -webkit-transition: all 0.7s ease;
                                -moz-transition: all 0.7s ease;
                                -o-transition: all 0.7s ease;
                                transition: all 0.7s ease;
                                line-height: 1.2;
                                box-shadow: 1px 1px 3px #bbbec1, 1px 1px 3px #bbbec1;
                            }

                            .tooltip_top .tooltip_content{
                                top: auto;
                                bottom: 117%;
                                padding: 5px 15px;
                                min-width: 100px;
                                left: 9px;
                            }

                            .tooltip_content::before{
                                content: "";
                                width: 0; 
                                height: 0; 
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 5px solid #fff;
                                position: absolute;
                                bottom: 100%;
                                left: 10px;
                            }
                            .tooltip_top .tooltip_content::before{
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: none;
                                border-top: 5px solid #fff;
                                bottom: auto;
                                top: 100%;
                            }

                            .tooltip:hover .tooltip_content,
                            .tooltip_top:hover .tooltip_content{
                                opacity: 1;
                                visibility: visible;
                                -webkit-transition: all 0.1s ease;
                                -moz-transition: all 0.1s ease;
                                -o-transition: all 0.1s ease;
                                transition: all 0.1s ease;
                            }
                .btn_bottom{
                    display: inline-block;
                    width: 19px;
                    height: 9px;
                }        

    /*======================>  HOME PAGE END    <======================*/


    .map_box{
        position: absolute;
        top: 79px;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .title_map{
        font-size: 25px;
        position: absolute;
        font-weight: bold;
        top: 10px;
        left: 160px;
    }

    .map_box:hover{
    }


        #map{
            width: 100%;    
            height: 100%;   
        }

        .gm-style > div{
            /*cursor: url("../images/icon/hand1.png") 8 8, default !important;*/
        }

        #bodyContent{
            
        }

            #bodyContent p{
                margin-bottom: 0;
            }

            .gm-style .gm-style-iw{
                width: 165px !important;
                padding: 5px 0;
                font-size: 14px;
                font-weight: 300;
            }

                

            [class*="icon_"]{
                cursor: pointer;
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                background: #fff;
                box-shadow: 1px 1px 8px #cdd0d4, -1px -1px 4px #cdd0d4;
                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }

            [class*="icon_"] .current,
            [class*="icon_"]:hover .open_menu{
                border-radius: 50%;
                background: #eaedf2;
                box-shadow: 1px 1px 5px #a0a2a5, -1px -1px 5px #a0a2a5;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all 0.1s ease;
            }

                [class*="icon_"] img{
                    vertical-align: middle;
                }

            .top_left_icon{
                position: absolute;
                left: 200px;
                top: 23px;
            }       

                .admin_menu{
                    position: absolute;
                    top: 135%;
                    left: 0;
                    min-height: 200px;
                    width: 210px;
                    background: #fff;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }

                    .show_menu.admin_menu{
                        opacity: 1;
                        visibility: visible;
                        -webkit-transition: all 0.1s ease;
                        -moz-transition: all 0.1s ease;
                        -o-transition: all 0.1s ease;
                        transition: all 0.1s ease;
                    }

                .admin_menu::before{
                    content: "";
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid #fff;
                    position: absolute;
                    bottom: 100%;
                    left: 10px;
                }

            .top_right_icon{
                position: absolute;
                top: 17px;
                right: 30px;
                margin: 0 -10px;
            }    

            .left_icon{
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 30px;
            }

                .left_icon > div{
                    display: block;
                    margin-bottom: 17px;
                }

            .button_right_icon{
                position: absolute;
                bottom: 39px;
                right: 30px;
            }    

            .button_icon{
                position: absolute;
                left: 113px;
                bottom: 39px;
                margin: 0 -10px;
            }

                .button_icon > div,
                .top_right_icon > div{
                    float: left;
                    margin: 0 10px;
                }

            .tooltip_left{
                position: relative;
            }    

            .tooltip_left .tooltip_content,
            .tooltip_left_top .tooltip_content{
                top: 120%;
                left: auto;
                right: 0;
                line-height: 1.2;
            }      

            .tooltip_left_top .tooltip_content{
                top: auto;
                bottom: 120%;
            }

                .tooltip_left .tooltip_content::before{
                    left: auto;
                    right: 20px;
                }

                .tooltip_left_top .tooltip_content::before{
                    content: "";
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: none;
                    border-top: 5px solid #fff;
                    bottom: auto;
                    left: auto;
                    right: 20px;
                    top: 100%;
                }

                .tooltip_left:hover .tooltip_content,
                .tooltip_left_top:hover .tooltip_content{
                    opacity: 1;
                    visibility: visible;
                }    

            .tooltip_icon .tooltip_content{
                top: 120%;
                left: 0;
                right: auto;
                line-height: 1.2;
            }   

                .tooltip_icon .tooltip_content::before{
                    left: 20px;
                }

                .tooltip_icon:hover .tooltip_content{
                    opacity: 1;
                    visibility: visible;                    
                }

                .current .tooltip_content{
                    opacity: 0 !important;
                    visibility: hidden !important;
                }

        .groups_drop,
        .download_drop,
        .calendar_drop,
        .info_drop,
        .model_3d{
            background: #fff;
            position: absolute;
            bottom: 140%;
            left: 0;
            width: 216px;
            text-align: left;
            padding: 30px 16px 20px;
            border-radius: 3px;
            cursor: default;
            box-shadow: 1px 1px 4px #caced1, -1px -1px 4px #caced1;
            opacity: 0;
            visibility: hidden;
        }

        .show_menu.groups_drop,
        .show_menu.download_drop,
        .show_menu.calendar_drop,
        .show_menu.info_drop,
        .show_menu.chat_drop,
        .show_menu.info_drop,
        .show_menu.model_3d{
            opacity: 1;
            visibility: visible;
        }

        .model_3d{
            width: 130px;
        }

            .model_3d a{
                width: 100%;
            }

        .calendar_drop{
            width: 210px;
            height: 190px;
            padding: 30px 8px 30px 10px;
        }    

            .calendar_drop::after{
                content: "";
                width: 2px;
                background: #747b83;
                position: absolute;
                top: 30px;
                bottom: 30px;
                left: 20px;    
            }    

            .calendar_list{
                height: 100% !important;
                position: relative;
            }

            .calendar_list_item{
                padding-left: 14px;
                line-height: 20px;
                position: relative;
                padding: 10px 10px 10px 30px; 
                font-size: 14px;
                color: #5c646d;
            }

            .calendar_list.scroll{
                margin: 0;
            }

            .calendar_list_item:hover,
            .calendar_list_item.active{
                font-size: 16px;
                color: #252525;
                text-transform: uppercase;
            }

                .calendar_list_item::before{
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: #fff;
                    border: 1px solid #606871;
                    border-radius: 50%;
                    position: absolute;
                    top: 12px;
                    z-index: 2;
                    left: 4px;
                }

                .calendar_list_item:hover::before,
                .calendar_list_item.active::before{
                    border: 3px solid #d04242;
                    left: 2px;
                    top: 10px;
                }

            .swiper-button-prev, .swiper-button-next{
                width: 19px;
                height: 19px;
                margin-top: 0;
                left: 11px;
            }    

            .swiper-button-prev{
                top: 15px;
                background: url(../images/arrow_prev.png) 0 0 no-repeat;
                background-size: 19px 19px;
            }

            .swiper-button-next{
                top: auto;
                bottom: 15px;
                background: url(../images/arrow_next.png) 0 0 no-repeat;
                background-size: 19px 19px;
            }

            .info_drop{
                width: 230px;
                bottom: auto;
                top: 140%;
                left: auto;
                right: 0;
                line-height: 1.2;
                padding: 8px 32px 10px;
            }

                .title_info{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 24px;
                    position: relative;
                    padding-left: 36px;
                }

                .title_info::before{
                    content: "";
                    background: url(../images/info_title_icon.png) 0 0 no-repeat;
                    width: 24px;
                    height: 23px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .sub_title{
                    color: #5c646d;
                    font-size: 14px;
                    margin: 0 -32px 10px;
                    padding: 9px 0 8px 32px;
                    border-top: 1px solid #f2f3f4;
                    border-bottom: 1px solid #f2f3f4;
                }

                .info_drop dt{
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 20px;
                }

                .info_drop dt:not(:first-child){
                    margin-top: 20px;
                }

                .info_drop dd{
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 300;
                }

            .groups_drop{
                z-index: 9;
            }    
            .groups_drop .chekbox{
                line-height: 24px;
            }
            .groups_drop .chekbox:not(:last-child){
                margin-bottom: 7px;
            }

            .groups_drop::before,
            .download_drop::before,
            .calendar_drop::before,
            .chat_drop::before,
            .model_3d::before{
                content: "";
                position: absolute;
                top: 100%;
                left: 10px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid #fff;
            }

            .chat_drop::before{
                left: auto;
                right: 10px;
            }

            .info_drop::before{
                content: "";
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                bottom: 100%;
                right: 10px;
            }

        .download_drop{
            width: 160px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 1.2;
        }

            .download_drop ul li{
                position: relative;
            } 

            .download_drop ul li:not(:last-child){
                margin-bottom: 15px;
                font-size: 14px;
                color: #252525;
                font-weight: 300;
            }

        .chat_drop{
            position: absolute;
            right: 0;
            bottom: 140%;
            background: #fff;
            cursor: default;
            line-height: 1.2;
            padding: 15px 22px;
            width: 327px;
            border-radius: 3px;
            text-align: left;
            opacity: 0;
            visibility: hidden;
            box-shadow: 1px 1px 4px #caced1, -1px -1px 4px #caced1;
        }   

        .chat_drop .jspTrack{
            background: #f1f4f7;
        }

        .chat_drop .jspDrag{
            border-radius: 4px;
        }

        .chat_title{
            font-size: 18px;
            color: #5c646d;
        }

        .chat_online{
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
            position: relative;
            padding-right: 16px;
        }

            .chat_online::before{
                content: "";
                background: #62c06e;
                border-radius: 50%;
                width: 7px;
                height: 7px;
                position: absolute;
                right: 0;
                top: 8px;
            }

        .list_messages li{
            clear: both;
            overflow: hidden;
        }    

        .list_messages li:not(:last-child){
            margin-bottom: 10px;
        }

            .chat_drop_content{
                overflow: hidden;
                width: 100% !important;
                height: 256px;
                background: #f1f4f7;
                border: 1px solid #c8c8c8;
                border-radius: 3px;
                padding: 13px 12px 13px 10px;
                margin-bottom: 7px;
            }    

            .jspContainer{
                width: 100% !important;
            }

            .messages_admin .messages_title,
            .messages_user .messages_title{
                font-size: 11px;
                font-weight: 300;
                position: relative;
                padding-left: 9px;
                color: #252525;
                margin-bottom: 13px;
            }

                .messages_user .messages_title{
                    padding-right: 9px;
                }

                .messages_title .time{
                    color: #a8a6a6;                    
                }

                .messages_admin .messages_title::before,
                .messages_user .messages_title::before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    background: #62c06e;
                    border-radius: 50%;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }

                .messages_user .messages_title::before{
                    left: auto;
                    right: 0;
                    background: #63a7d2; 
                }

            .messages_admin .messages,
            .messages_user .messages{
                width: 247px;
                font-size: 11px;
                font-weight: 300;
                color: #fff;
                line-height: 20px;
                padding: 8px 14px;
                background: #62c06e;
                border-radius: 3px;
                position: relative;
            }

            .messages_user .messages{
                background: #63a7d2;
            }

            .messages_admin{
                float: left;
            }
            .messages_user{
                float: right;
            }

                .messages_admin .messages::before,
                .messages_user .messages::before{
                    content: "";
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #62c06e;
                    position: absolute;
                    bottom: 100%;
                    left: 14px;
                }

                .messages_user .messages::before{
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #63a7d2;
                    left: auto;
                    right: 14px;
                }

            .chat_drop_footer textarea{
                width: 100%;
                border: 1px solid #c8c8c8;
                color: #b2a9a9;
                border-radius: 3px;
                padding: 7px 10px;
                resize: none;
                height: 73px;
                font-size: 12px;
                font-weight: 300;
            }

                .chat_drop_footer .object_creation_btn{
                    margin-top: 3px;
                    min-width: 133px;
                    font-size: 10px;
                } 

            .chat_drop_footer textarea::-webkit-input-placeholder{
                font-size: 12px;
                color: #b2a9a9;
            }
            .chat_drop_footer textarea::-moz-placeholder{
                font-size: 12px;
                color: #b2a9a9;
            }
            .chat_drop_footer textarea:-moz-placeholder{
                font-size: 12px;
                color: #b2a9a9;
            }
            .chat_drop_footer textarea:-ms-input-placeholder{
                font-size: 12px;
                color: #b2a9a9;
            }

/*archive*/

.objects_item:hover .add_archive{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.add_archive{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .58);
    z-index: 2;

    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

    .button_block{
        position: absolute;
        left: 9px;
        right: 9px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .button_block .btn_login{
        border: none;
        padding-left: 18px;
        padding-right: 18px;
    }

    .button_block .btn_login:hover{
        color: #fff;
    }

/*object_creation*/

    .object_creation_box{
        opacity: 0;
        visibility: hidden;
        background: #fff;
        width: 292px;
        padding: 20px 29px;
        line-height: 1.2;
        position: absolute;
        top: 135%;
        right: -30px;
        cursor: default;
    }

        .show_menu.object_creation_box{
            opacity: 1;
            visibility: visible;
        }

        .object_creation_box::before{
            content: "";
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #fff;
            position: absolute;
            bottom: 100%;
            right: 40px;
        }

        .object_creation_box .input_row:not(:last-child){
            margin-bottom: 16px;
        }

        .object_creation_box .input_row input[type="text"]{
            padding-left: 10px;
        }

        .object_creation_box .select2-container .select2-choice{
            padding: 0 0 0 9px;
            text-align: left; 
        }

        .object_creation_box .select2-container .select2-choice .select2-arrow{
            background: #63a7d2 url(../images/arrow_btn_white.png) 50% 50% no-repeat;
            top: 0;
            height: 100%;
            bottom: 0;
            right: 0;
            width: 37px;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        .object_creation_box .select2-dropdown-open .select2-choice {
            background-image: none;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
        }

        .radio_input:not(:last-child){
            margin-bottom: 6px;
        }

        .radio_input label{
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            cursor: pointer;
            position: relative;
            padding-left: 5px;
        }

        .radio_input input{
            margin: 0 !important;
        }

            .radio_input .jq-radio{
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid #666d76;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                margin-right: 0;
                background: #fff;
                box-shadow: none;
            }

            .radio_input .jq-radio.checked .jq-radio__div{
                margin: 2px;
                width: 9px;
                height: 9px;
                background: #63a7d2;
                box-shadow: none;
            }

        .input_row textarea{
            width: 100%;
            border: 1px solid #666d76;
            border-radius: 3px;
            resize: none;
            background: #fff;
            padding: 8px 10px;
            height: 162px;
            font-size: 14px;
            line-height: 20px;
            color: #252525;
        }    

        .object_creation_btn{
            min-width: 166px;
            display: inline-block;
            color: #fff;
            background: #63a7d2;
            border-radius: 5px;
            line-height: 31px;
            padding: 0 10px;
            box-shadow: inset 0 3px 1px #4f86a8;
        }

            .object_creation_btn:not(:last-child){
                margin-bottom: 12px;
            }

            .object_creation_btn:hover{
                box-shadow: inset 0 3px 1px #326d92;
                background: #3e88b7
            }

/* Profile page */

.profile_wrapper{
    margin: 0 -1%;
}

    .profile_wrapper .title{
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .profile_user{
        width: 23%;
        margin: 0 1%;
    }

        .user_avatar{
            display: inline-block;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 15px;
        }

            .user_avatar img{
                width: 100%;
                height: 100%;
            }

            .user_name{
                font-size: 18px;
                font-weight: 400;
            }

    .profile_form{
        width: 73%;
        margin: 0 1%;
    }

        .profile_form .input_row{
            margin-bottom: 20px;
        }

        .profile_form .input_row input[type='text']{
            line-height: 38px;
            height: 38px;
        }

        .profile_form .input_row input::-moz-placeholder{
            line-height: 38px;
        }
        .profile_form .input_row input:-moz-placeholder{
            line-height: 38px;
        }
        .profile_form .input_row input:-ms-input-placeholder{
            line-height: 38px;
        }

.drop_item{
    z-index: 99;
}


.disabled{
    opacity: 0.7;
    cursor: auto;
}

    .disabled:hover .open_menu{
        background: none !important;
        box-shadow: none !important;
    }

    .disabled:hover .tooltip_content{
        display: none;
    }

    .disabled::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

.container_404{
    margin-top: 100px;
}    

    .number{
        font-size: 120px;
        color: #35749b;
        display: inline-block;
    }   

    .info{
        margin-top: 20px;
        margin-left: 20px;
        display: inline-block;
        text-align: left;
        font-size: 15px;
        font-weight: 300;
    }

    .title_404{
        font-size: 24px;
        color: #35749b;
        margin-bottom: 15px;
    }

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    /*footer {
        padding:30px 0px 30px 0px;
    }*/
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.jspVerticalBar{
    width: 5px;
}

ul.scroll{
    background: #fff;
    margin: 10px -13px 0;
    max-height: 145px;
}

.jspDrag{
    background: #adb1b6;
}

.jspTrack {
    background: #fff;
}

.jspPane{
    width: 100% !important;
}

/*popup*/

.arcticmodal-overlay{
    
}

.arcticmodal_container_box{
    min-width: 360px;
    max-width: 360px;
    min-height: 200px;
    border-radius: 3px;
    padding: 30px 67px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 1px 1px 6px #666666, -1px -1px 6px #666666;
}

    .title_popup{
        font-size: 18px;
        font-weight: 300;
        color: #252525;
        margin-bottom: 23px;
    }

    .arcticmodal_container_box .input_row:not(:last-child){
        margin-bottom: 16px;
    }

    .input_row input[type="email"],
    .input_row input[type="password"],
    .input_row input[type="text"]{
        width: 100%;
        border: 1px solid #5c646d;
        height: 31px;
        line-height: 29px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 3px;
        padding: 0 10px 0 30px;
        color: #252525;
    }

    .input_row input::-webkit-input-placeholder{
        line-height: 29px;
        font-weight: 300;   
        transition: all 0.5s ease;
        font-family: 'Roboto', sans-serif;
        color: #a2aab3;
        font-size: 12px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .input_row input::-moz-placeholder{
        line-height: 29px;
        font-weight: 300;   
        transition: all 0.5s ease;
        font-family: 'Roboto', sans-serif;
        color: #a2aab3;
        font-size: 12px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .input_row input:-moz-placeholder{
        line-height: 29px;
        font-weight: 300;   
        transition: all 0.5s ease;
        font-family: 'Roboto', sans-serif;
        color: #a2aab3;
        font-size: 12px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .input_row input:-ms-input-placeholder{
        line-height: 29px;
        font-weight: 300;   
        transition: all 0.5s ease;
        font-family: 'Roboto', sans-serif;
        color: #a2aab3;
        font-size: 12px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .input_row input:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: all 0.5s ease;
    }
    .input_row input:focus::-moz-placeholder{
        opacity: 0;
        transition: all 0.5s ease;
    }
    .input_row input:focus:-moz-placeholder{
        opacity: 0;
        transition: all 0.5s ease;
    }
    .input_row input:focus:-ms-input-placeholder{
        opacity: 0;
        transition: all 0.5s ease;
    }

    .btn_login,
    .btn_back{
        min-width: 68px;
        padding: 0 15px;
        line-height: 29px;
        background: #63a7d2;
        border-radius: 3px;
        color: #fff; 
        text-align: center;
        font-size: 12px;
        border: 1px solid transparent;
    }

        .btn_login:hover{
            color: #fff;
            background: #4b93c0;
            box-shadow: inset 0 -3px 0 #3c769a;
        }

    .chekbox{
        line-height: 34px;
    }

    .jq-checkbox{
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #5c646d;
        background: #fff;
        border-radius: 2px;
        margin-right: 0;
    }
    .jq-checkbox.checked .jq-checkbox__div{
        background: #63a7d2;
        margin: 1px;
        width: 16px;
        height: 16px;
    }   
    .chekbox label{
        font-size: 12px;
        font-weight: 300;
        cursor: pointer;
        padding-left: 4px;
    }

    .popup_helper{
        font-size: 12px;
        font-weight: 300;
        color: #5c646d;
    }
        .popup_helper .col_black{
            color: #252525;
        }

        .popup_helper a{
            color: #35739a;
        }

        .popup_helper a:hover{
            text-decoration: underline;
        }

    .popup_string{
        position: relative;
    }    

        .popup_string::before{
            content: "";
            background: #f2f3f4;
            width: 300%;
            height: 1px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: -100px;
            font-size: 14px;
        }

        .popup_string span{
            background: #fff;
            padding: 0 15px;
            position: relative;
            z-index: 2;
            font-weight: 300;
        }

    .link_akk{
        font-size: 18px;
        color: #35749b;
        font-weight: 300;
    }

/*popup2*/

.title_popup2{
    font-size: 18px;
    font-weight: 300;
    color: #35749b;
    margin-bottom: 15px;
}

    .popup_sub_title{
        font-size: 12px;
        font-weight: 300;
    }

    .btn_back{      
        color: #5c646d;
        background: #fff;
        border: 1px solid #a7a7a7;
    }

        .btn_back:hover{
            box-shadow: inset 0 -2px 3px #cccccc;
        }

    .input_row .jq-selectbox{
        width: 100%;
    }

    .input_row .jq-selectbox__select{
        width: 100%;
        border: 1px solid #5c646d;
        height: 31px;
        line-height: 31px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 3px 3px 0 0;
        padding: 0 10px 0 30px;
        background: #fff url(../images/location.png) 9px 50% no-repeat;
        color: #a2aab3;
        box-shadow: none;
    }

        .input_row .opened .jq-selectbox__select{
            background: #fff url(../images/location_active.png) 9px 50% no-repeat;
            border-bottom: none;
        }
        .input_row .changed .jq-selectbox__select{
            background: #fff url(../images/location_active.png) 9px 50% no-repeat;
            color: #252525;
        }

    .input_row .jq-selectbox__trigger{
        border:none;
    }

    .input_row .jq-selectbox__trigger-arrow{
        border: none;
        background: url(../images/arrow_btn.png) 0 0 no-repeat;
        width: 15px;
        height: 8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: auto;
        right: 8px;
    }

    .input_row .jq-selectbox__dropdown{
        margin-top: 0;
        box-shadow: none;
        border: 1px solid #5c646d;
        border-top: none;
        border-radius: 0 0 3px 3px;
        height: 100%;
        max-height: 160px;
        overflow-y: auto;
    }

    .input_row .jq-selectbox li{
        padding: 5px 10px 5px 30px;
        font-size: 12px;
        font-weight: 300;
    }

    .input_row .jq-selectbox li:hover{
        background: none;
        color: #63a7d2;
    }

    .jq-selectbox li.disabled{
        display: none;
    }

    .select2-drop .nicescroll-rails > div{
        border-radius: 0;
    }
    .select2-drop .nicescroll-rails{
        padding-right: 15px;
    }


.user_input{
    background: #fff url(../images/user.png) 9px 50% no-repeat;
}
.user_input:focus{
    background: #fff url(../images/user_active.png) 9px 50% no-repeat;   
}
.password{
    background: #fff url(../images/password.png) 9px 50% no-repeat;
}
.password:focus{
    background: #fff url(../images/password_active.png) 9px 50% no-repeat;   
}
.calendar{
    background: #fff url(../images/input_calendar.png) 9px 50% no-repeat;
}
.calendar:focus{
    background: #fff url(../images/input_calendar_active.png) 9px 50% no-repeat;   
}

.grop{
    background: #fff url(../images/groups_min.png) 9px 50% no-repeat;
}
.grop:focus{
    background: #fff url(../images/groups_min_active.png) 9px 50% no-repeat;   
}

.download_file{
    background: #fff url(../images/download_min.png) 9px 50% no-repeat;
}
.download_file:focus{
    background: #fff url(../images/download_min_active.png) 9px 50% no-repeat;   
}

.name{
    background: #fff url(../images/I.png) 13px 50% no-repeat;
}
.name:focus{
    background: #fff url(../images/I_active.png) 13px 50% no-repeat;   
}
.email{
    background: #fff url(../images/masseg.png) 9px 50% no-repeat;
}
.email:focus{
    background: #fff url(../images/masseg_active.png) 9px 50% no-repeat;   
}
.phone{
    background: #fff url(../images/phone-receiver.png) 9px 50% no-repeat;
}
.phone:focus{
    background: #fff url(../images/phone_active.png) 9px 50% no-repeat;
}
.city{
    background: #fff url(../images/city.png) 9px 50% no-repeat;
}
.city:focus{
    background: #fff url(../images/city_active.png) 9px 50% no-repeat;
}

/*popup3*/

.arcticmodal_container_box.popup3{
    padding: 40px 35px;
}

.popup3 .object_creation_btn{
    box-shadow: none;
}

.popup3 .object_creation_btn:hover{
    box-shadow: inset 0 3px 0 #3c769a;
}

.popup3 .btn_back:hover{
    box-shadow: inset 0 2px #cccccc
}

.popup3 .title_popup{
    font-size: 20px;
    font-weight: 400;
}

.popup3 input[type="email"]{
    padding-left: 12px;
}

.popup3 .object_creation_btn{
    text-transform: inherit;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 12px;
    font-weight: 300;
}

.popup3 .popup_helper{
    color: #252525;
}

/*add_to_archive popup*/
.add_to_archive.arcticmodal_container_box{
    padding: 40px 35px;
}

.add_to_archive .title_popup{
    font-size: 20px;
    margin-bottom: 28px;
}

.add_to_archive .btn_login,
.add_to_archive .btn_back{
    padding-left: 24px;
    padding-right: 24px;
}



.select2-search{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* line 3, ../sass/_calendar.scss */
.ui-datepicker-calendar {
  width: 100%;
}

/* line 7, ../sass/_calendar.scss */
.ui-datepicker-calendar th {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 12, ../sass/_calendar.scss */
.ui-datepicker-calendar td {
  text-align: center;
}

/* line 15, ../sass/_calendar.scss */
.k-datepicker-inline .ui-datepicker-calendar td a {
  display: block;
  padding: 3px 5px;
}

/* line 20, ../sass/_calendar.scss */
.k-datepicker-inline .ui-datepicker-calendar td a:hover {
  color: #fff !important;
  background-color: #63a7d2 !important;
}

/* line 25, ../sass/_calendar.scss */
.ui-datepicker-calendar th:not(.ui-datepicker-week-end),
.ui-datepicker-current-day {
  color: #63a7d2;
}

/* line 30, ../sass/_calendar.scss */
.k-datepicker-inline {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 6px;
  max-width: 100%;
}

/* line 36, ../sass/_calendar.scss */
.k-datepicker-inline .ui-datepicker {
  max-width: 100%;
}

/* line 40, ../sass/_calendar.scss */
.ui-datepicker-current-day {
  font-weight: bold;
}

/* line 45, ../sass/_calendar.scss */
#dpCarouselNav {
  position: absolute;
  z-index: 9999;
  margin-top: -90px;
}
/* line 50, ../sass/_calendar.scss */
#dpCarouselNav li {
  text-align: center;
  cursor: pointer;
}
/* line 55, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-year"].owl-carousel {
  background-color: #63a7d2;
  color: #fff;
  margin: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: normal;
  line-height: 45px;
}
/* line 66, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-year"].owl-carousel .currentDp,
#dpCarouselNav [data-dp-list="ui-datepicker-year"].owl-carousel .selected {
  font-weight: bold;
  cursor: default;
}
/* line 72, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-year"].owl-carousel .owl-prev {
  left: 0;
  padding-left: 10px;
  text-align: left;
  background: #63a7d2;
  background: -moz-linear-gradient(left, #63a7d2 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #63a7d2), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #63a7d2 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #63a7d2 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #63a7d2 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #63a7d2 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a7d2', endColorstr='#ffffff', GradientType=1 );
}
/* line 85, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-year"].owl-carousel .owl-next {
  text-align: right;
  padding-right: 10px;
  right: 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #63a7d2 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #63a7d2));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #63a7d2 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #63a7d2 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #63a7d2 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #63a7d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#63a7d2', GradientType=1 );
}
/* line 100, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-month"].owl-carousel {
  line-height: 45px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}
/* line 108, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-month"].owl-carousel .currentDp,
#dpCarouselNav [data-dp-list="ui-datepicker-month"].owl-carousel .selected {
  font-weight: bold;
  color: #63a7d2;
  cursor: default;
}
/* line 114, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-month"].owl-carousel .owl-prev {
  color: #63a7d2;
  left: 0;
  padding-left: 10px;
  text-align: left;
  background: white;
  background: -moz-linear-gradient(left, white 0%, white 28%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(28%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0%, white 28%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0%, white 28%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, white 0%, white 28%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, white 28%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
/* line 128, ../sass/_calendar.scss */
#dpCarouselNav [data-dp-list="ui-datepicker-month"].owl-carousel .owl-next {
  color: #63a7d2;
  text-align: right;
  padding-right: 10px;
  right: 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 72%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(72%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 72%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 72%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 72%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 72%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
/* line 145, ../sass/_calendar.scss */
#dpCarouselNav .owl-prev,
#dpCarouselNav .owl-next {
  position: absolute;
  width: 60px;
  line-height: 45px;
  top: 0;
  height: calc(100% - 1px);
  color: #fff;
}
/* line 154, ../sass/_calendar.scss */
#dpCarouselNav .owl-prev .glyphicon,
#dpCarouselNav .owl-next .glyphicon {
  vertical-align: middle;
  margin-top: -6px;
}
/* line 159, ../sass/_calendar.scss */
#dpCarouselNav .owl-prev.disabled,
#dpCarouselNav .owl-next.disabled {
  display: none;
}

/* line 167, ../sass/_calendar.scss */
.with-custom-nav-widget {
  margin-top: 90px !important;
}
/* line 170, ../sass/_calendar.scss */
.with-custom-nav-widget select {
  display: none;
}
/* line 174, ../sass/_calendar.scss */
.with-custom-nav-widget .ui-datepicker-header {
  padding: 0 !important;
  border: none !important;
}
/* line 179, ../sass/_calendar.scss */
.with-custom-nav-widget .ui-datepicker-title {
  padding: 0;
}

/* line 198, ../sass/_calendar.scss */
.k-datepicker-inline .ui-datepicker-header {
  position: relative;
  margin-bottom: 10px;
}

/* line 203, ../sass/_calendar.scss */
.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -12px;
  font-size: 18px;
}

/* line 212, ../sass/_calendar.scss */
.ui-datepicker-prev {
  left: 13px;
}

/* line 216, ../sass/_calendar.scss */
.ui-datepicker-next {
  right: 13px;
}

/* line 220, ../sass/_calendar.scss */
.specialDate a {
  background-color: #99bfe2;
  font-weight: bold;
  color: #63a7d2;
}

/* line 226, ../sass/_calendar.scss */
.specialDate.start a {
  border-radius: 16px 0 0 16px;
}

/* line 229, ../sass/_calendar.scss */
.specialDate.end a {
  border-radius: 0 16px 16px 0;
}

/* line 237, ../sass/_calendar.scss */
.k-week-calendar .fc-toolbar {
  position: relative;
}

/* line 241, ../sass/_calendar.scss */
.k-week-calendar .fc-toolbar .fc-button {
  display: block;
  position: absolute;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #666;
  top: 8px;
  z-index: 20;
  cursor: pointer;
}

/* line 256, ../sass/_calendar.scss */
.k-week-calendar .fc-toolbar .fc-button span {
  line-height: 30px;
  font-size: 18px;
}

/* line 261, ../sass/_calendar.scss */
.k-week-calendar .fc-toolbar .fc-button.fc-prev-button {
  left: 27px;
}

/* line 264, ../sass/_calendar.scss */
.k-week-calendar .fc-toolbar .fc-button.fc-next-button {
  right: -15px;
}

/* line 268, ../sass/_calendar.scss */
.k-week-calendar .fc-view table {
  width: 100%;
}

/* line 272, ../sass/_calendar.scss */
.k-week-calendar .fc-widget-content {
  padding-top: 3px;
}

/* line 275, ../sass/_calendar.scss */
.k-week-calendar .fc-slats tr {
  border-bottom: 1px dashed #ccc;
}

/* line 279, ../sass/_calendar.scss */
.k-week-calendar .fc-slats td {
  padding: 5px 3px;
}

/* line 283, ../sass/_calendar.scss */
.fc-slats .fc-minor {
  display: none;
}

/* line 287, ../sass/_calendar.scss */
.k-week-calendar .fc-head {
  border-bottom: 1px solid #ccc;
}
/* line 293, ../sass/_calendar.scss */
.k-week-calendar .fc-head .fc-widget-header > * {
  font-weight: bold;
  font-size: 16px;
  color: #63a7d2;
  text-transform: uppercase;
}
/* line 300, ../sass/_calendar.scss */
.k-week-calendar .fc-head .fc-day-header {
  padding: 0 20px;
}

/* line 305, ../sass/_calendar.scss */
.k-week-calendar .fc-scroller {
  max-height: 245px;
}

/* line 309, ../sass/_calendar.scss */
.fc-time-grid .fc-content-col,
.fc-time-grid .fc-event-container {
  position: relative;
}

/* line 315, ../sass/_calendar.scss */
.fc-time-grid .fc-helper-container {
  position: relative;
  z-index: 6;
}

/* line 320, ../sass/_calendar.scss */
.fc-time-grid .fc-event {
  position: absolute;
  cursor: pointer;
  display: block;
  left: 0 !important;
  padding-left: 15px;
  width: 100%;
  bottom: auto !important;
  text-align: center;
  margin: 0 !important;
}

/* line 332, ../sass/_calendar.scss */
.fc-widget-header {
  min-height: 54px;
  position: relative;
  z-index: 10;
}

/* line 338, ../sass/_calendar.scss */
.fc-bg, .fc-bgevent-skeleton, .fc-highlight-skeleton, .fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 344, ../sass/_calendar.scss */
.fc-event .fc-resizer {
  display: none;
}

/* line 347, ../sass/_calendar.scss */
.fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
}

/* line 352, ../sass/_calendar.scss */
.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

/* line 359, ../sass/_calendar.scss */
.fc-view, .fc-view > table {
  position: relative;
  z-index: 1;
}

/* line 364, ../sass/_calendar.scss */
.fc-time-grid-container, .fc-time-grid {
  position: relative;
  z-index: 1;
}

/* line 369, ../sass/_calendar.scss */
.fc-event span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  background-color: #ccc;
}

/* line 376, ../sass/_calendar.scss */
.fc-event span.event-two {
  background-color: #aedff6;
}

/* line 379, ../sass/_calendar.scss */
.fc-event span.event-three {
  background-color: #0091da;
}

/* line 383, ../sass/_calendar.scss */
.k-calendar-field-wrap {
  position: relative;
}

/* line 387, ../sass/_calendar.scss */
.k-calendar-field-wrap .k-calendar-btn {
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff url(../../img/Icons/Icons_Global_Artboards_v1-47.svg) 50% 50% no-repeat;
  background-size: 30px 30px;
}

/* line 400, ../sass/_calendar.scss */
.k-calendar-field:focus + .k-calendar-btn {
  border-color: #0091da;
}

/* line 405, ../sass/_calendar.scss */
.k-calendar-field-wrap .k-form-field2 {
  padding-right: 50px;
  position: relative;
  z-index: 10;
}

/* line 411, ../sass/_calendar.scss */
.k-calendar-widget {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  min-height: 150px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  margin-top: 8px;
  border: 1px solid #ccc;
}

/* line 425, ../sass/_calendar.scss */
.showWidget .k-calendar-widget {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

/* line 430, ../sass/_calendar.scss */
.k-calendar-widget-header,
*:not(.ui-datepicker-inline) .ui-datepicker-header {
  position: relative;
  padding: 10px 0 7px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

/* line 438, ../sass/_calendar.scss */
.ui-datepicker-header {
  margin-bottom: 10px;
}

/* line 442, ../sass/_calendar.scss */
.k-calendar-widget-nav-btn {
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 8px 0 0;
  background: none;
  border: none;
  color: #666;
  font-size: 19px;
}

/* line 456, ../sass/_calendar.scss */
[data-calendar-nav-direction="fwd"] {
  right: 6px;
}

/* line 460, ../sass/_calendar.scss */
[data-calendar-nav-direction="back"] {
  left: 6px;
}

/* line 464, ../sass/_calendar.scss */
.k-calendar-widget-title,
.ui-datepicker-title {
  font-weight: bold;
  color: #63a7d2;
  text-align: center;
  font-size: 18px;
  padding: 0 50px;
}

/* line 473, ../sass/_calendar.scss */
.k-calendar-widget-content {
  padding: 10px 16px;
  overflow: hidden;
}

/* line 477, ../sass/_calendar.scss */
.k-calendar-widget-item-btn {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding: 8px 14px 6px;
  margin: 7px 0 3px;
  background-color: transparent;
}

/* line 486, ../sass/_calendar.scss */
.k-calendar-widget-item-btn:hover {
  background-color: #99bfe2;
  color: #63a7d2 !important;
}

/* line 491, ../sass/_calendar.scss */
.ui-datepicker {
  width: 370px;
  background-color: #fff;
}

/* line 500, ../sass/_calendar.scss */
.ui-datepicker:not(.ui-datepicker-inline) {
  border: 1px solid #ccc;
  margin-top: 8px;
  z-index: 99;
  display: none;
}

/* line 507, ../sass/_calendar.scss */
.ui-datepicker:not(.ui-datepicker-inline) a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 31px;
}

/* line 516, ../sass/_calendar.scss */
.ui-datepicker:not(.ui-datepicker-inline) a.ui-state-highlight {
  background-color: #63a7d2;
  color: #fff;
}

/* line 521, ../sass/_calendar.scss */
.ui-datepicker:not(.ui-datepicker-inline) .ui-state-active {
  color: #63a7d2;
  font-weight: bold;
}

/* line 526, ../sass/_calendar.scss */
.k-birth-date {
  margin: 0 -1%;
}

/* line 530, ../sass/_calendar.scss */
.k-birth-date .k-calendar-field-wrap {
  width: 150px;
  margin: 0 1%;
  float: left;
}

/* line 537, ../sass/_calendar.scss */
.k-calendar-widget-list {
  max-height: 290px;
  overflow: auto;
}

/* line 542, ../sass/_calendar.scss */
.k-calendar-widget-list a {
  padding: 3px 10px;
  font-size: 16px;
  display: block;
  line-height: 21px;
}

/* line 549, ../sass/_calendar.scss */
.k-calendar-widget-list li:nth-child(even) {
  background-color: #f6f6f6;
}

/* line 553, ../sass/_calendar.scss */
.k-calendar-widget-list a:hover {
  cursor: pointer;
  background-color: #48ae35;
  color: #fff !important;
}

/* line 565, ../sass/_calendar.scss */
.NoYearDatePicker.ui-datepicker {
  padding: 15px;
}
/* line 568, ../sass/_calendar.scss */
.NoYearDatePicker.ui-datepicker a.ui-state-highlight {
  border-radius: 0;
  background-color: #99bfe2;
  color: #63a7d2;
  font-weight: bold;
}

/* line 575, ../sass/_calendar.scss */
.NoYearDatePicker .ui-datepicker-header {
  display: none;
}

/* line 2, ../sass/_carousel.scss */
.k-carousel {
  position: relative;
  overflow: hidden;
}

/* line 9, ../sass/_carousel.scss */
.k-simple-carousel-pagination {
  text-align: center;
  padding: 10px 0 0;
}

/* line 14, ../sass/_carousel.scss */
.k-carousel-pagination-hide .k-simple-carousel-pagination {
  visibility: hidden;
}

/* line 18, ../sass/_carousel.scss */
.k-simple-carousel-pagination.k-striped-pagination {
  padding-top: 15px;
}

/* line 22, ../sass/_carousel.scss */
[data-carousel-type="simple"] .k-arrow-btn,
[data-carousel-type="center"] .k-arrow-btn {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  border-color: #fff;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

/* line 40, ../sass/_carousel.scss */
[data-carousel-type="simple"] .k-simple-carousel-nav-back {
  left: 20px;
  background: none;
}

/* line 45, ../sass/_carousel.scss */
[data-carousel-type="simple"] .k-simple-carousel-nav-fwd {
  right: 20px;
  background: none;
}

/* line 50, ../sass/_carousel.scss */
[data-carousel-type="simple"] .svg path {
  fill: #fff;
}

/* line 55, ../sass/_carousel.scss */
.k-stroke-carousel-wrap {
  background-color: white;
  border: 1px solid #eaeaea;
  padding: 9px;
}

/* line 60, ../sass/_carousel.scss */
.k-stroke-carousel-pagination {
  text-align: center;
  padding: 14px 50px 6px;
}

/* line 65, ../sass/_carousel.scss */
.k-stroke-carousel-pagination > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 16px;
  color: #666;
}

/* line 75, ../sass/_carousel.scss */
.k-stroke-carousel-pagination > *:hover,
.k-stroke-carousel-pagination > *.active {
  color: #99bfe2;
}

/* line 80, ../sass/_carousel.scss */
[data-carousel-type="stroke"] .k-arrow-btn {
  bottom: -3px;
  position: absolute;
}

/* line 85, ../sass/_carousel.scss */
[data-carousel-type="stroke"] .k-arrow-back {
  left: 0px;
}

/* line 89, ../sass/_carousel.scss */
[data-carousel-type="stroke"] .k-arrow-fwd {
  right: 0px;
}

/* line 93, ../sass/_carousel.scss */
[data-pagination-position="inside"] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-bottom: 15px;
}

/* line 103, ../sass/_carousel.scss */
[data-carousel-type="center"] .swiper-slide {
  width: auto;
  height: auto;
  background-color: #fff;
}

/* line 109, ../sass/_carousel.scss */
[data-carousel-type="center"] .swiper-slide img {
  opacity: .2;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

/* line 118, ../sass/_carousel.scss */
[data-carousel-type="center"] .swiper-slide-active img {
  opacity: 1;
}

/* line 123, ../sass/_carousel.scss */
.k-center-carousel-scrollbar {
  position: relative;
  height: 20px;
  width: 790px;
  margin: 20px auto 0;
  max-width: 100%;
}

/* line 131, ../sass/_carousel.scss */
.k-center-carousel-scrollbar::after {
  height: 2px;
  width: 790px;
  left: 0;
  top: 50%;
  display: block;
  position: absolute;
  background-color: #ededed;
  content: "";
}

/* line 142, ../sass/_carousel.scss */
.k-center-carousel-scrollbar .swiper-scrollbar-drag {
  border-radius: 9px;
  height: 20px;
  position: relative;
  z-index: 10;
  background-color: #99bfe2;
}

/* line 150, ../sass/_carousel.scss */
[data-carousel-type="center"] .k-arrow-back {
  left: 70px;
}

/* line 153, ../sass/_carousel.scss */
[data-carousel-type="center"] .k-arrow-fwd {
  right: 70px;
}

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/* line 165, ../sass/_carousel.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 174, ../sass/_carousel.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 180, ../sass/_carousel.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 185, ../sass/_carousel.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 190, ../sass/_carousel.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 198, ../sass/_carousel.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 201, ../sass/_carousel.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 205, ../sass/_carousel.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 215, ../sass/_carousel.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 220, ../sass/_carousel.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.calendar_wrapper{
    width: 300px;
}

.calendar_wrapper input{
    width: 100%;
}

.ui-corner-all,
.owl-pagination{
    display: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 6, ../sass/_bootstrap.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 267, ../sass/_bootstrap.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 270, ../sass/_bootstrap.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}


.file_wrapper{
    position: relative;
    padding: 20px 0;
    text-align: center;
    border: 1px dashed #5c646d;
}

    .file_wrapper input[type='file']{
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;
    }

    .input_file img{
        margin-bottom: 10px;
    }

    .input_file p{
        margin-bottom: 0;
    }


    .traffic_jams.active,
    .traffic_jams:hover{
        border-radius: 15px;
        background: #eaedf2;
        box-shadow: 1px 1px 5px #a0a2a5, -1px -1px 5px #a0a2a5;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }